---
import Navbar from '@components/Navbar.astro';
import Footer from '@components/Footer.astro'

import directus from "@lib/directus";
import { readSingleton } from "@directus/sdk";

const companyDetails = await directus.request(readSingleton("company_details"));

export interface Props {
	title: string;
}

const { title} = Astro.props;
---

<html lang="en" >
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>{title} | {companyDetails.company_name} </title>

		
	</head>
	<body class="bg-white">
		<Navbar />
		<main class="transition-overlay">
			<slot />
		</main>
		<Footer />

		
	</body>
</html>

<script is:inline src="https://cdn.jsdelivr.net/npm/preline@2.4.1"></script>
<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script is:inline>
	AOS.init();
</script>
